USE [IT_Risk_Assessment]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 2026/08/06 19:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetID] [varchar](10) NOT NULL,
	[AssetName] [varchar](100) NULL,
	[Department] [varchar](50) NULL,
	[OwnerName] [varchar](100) NULL,
	[Location] [varchar](100) NULL,
	[Criticality] [varchar](20) NULL,
	[AssetType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compliance]    Script Date: 2026/08/06 19:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compliance](
	[ControlID] [varchar](10) NOT NULL,
	[ControlName] [varchar](100) NULL,
	[Category] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
	[Priority] [varchar](20) NULL,
	[Recommendation] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Risks]    Script Date: 2026/08/06 19:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Risks](
	[RiskID] [varchar](10) NOT NULL,
	[RiskName] [varchar](100) NULL,
	[Category] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RiskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vulnerabilities]    Script Date: 2026/08/06 19:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vulnerabilities](
	[VulnerabilityID] [varchar](10) NOT NULL,
	[RiskID] [varchar](10) NULL,
	[AssetID] [varchar](10) NULL,
	[Vulnerability] [varchar](255) NULL,
	[Likelihood] [int] NULL,
	[Impact] [int] NULL,
	[RiskScore] [int] NULL,
	[RiskLevel] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VulnerabilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Assets] ([AssetID], [AssetName], [Department], [OwnerName], [Location], [Criticality], [AssetType]) VALUES (N'A001', N'Domain Controller', N'IT', N'IT Manager', N'Server Room', N'High', N'Server')
INSERT [dbo].[Assets] ([AssetID], [AssetName], [Department], [OwnerName], [Location], [Criticality], [AssetType]) VALUES (N'A002', N'HR Database', N'HR', N'HR Manager', N'SQL Server', N'High', N'Database')
INSERT [dbo].[Assets] ([AssetID], [AssetName], [Department], [OwnerName], [Location], [Criticality], [AssetType]) VALUES (N'A003', N'Finance Server', N'Finance', N'CFO', N'Azure', N'High', N'Server')
GO
INSERT [dbo].[Compliance] ([ControlID], [ControlName], [Category], [Status], [Priority], [Recommendation]) VALUES (N'C001', N'Multi-Factor Authentication (MFA)', N'Access Control', N'No', N'High', N'Enable MFA for all users')
INSERT [dbo].[Compliance] ([ControlID], [ControlName], [Category], [Status], [Priority], [Recommendation]) VALUES (N'C002', N'Password Policy', N'Identity Management', N'Yes', N'High', N'Review every 90 days')
INSERT [dbo].[Compliance] ([ControlID], [ControlName], [Category], [Status], [Priority], [Recommendation]) VALUES (N'C003', N'Antivirus Protection', N'Endpoint Security', N'Yes', N'High', N'Keep signatures updated')
GO
INSERT [dbo].[Risks] ([RiskID], [RiskName], [Category], [Description]) VALUES (N'R001', N'Weak Passwords', N'Identity', N'Weak password policy')
INSERT [dbo].[Risks] ([RiskID], [RiskName], [Category], [Description]) VALUES (N'R002', N'Missing Windows Updates', N'Patch Management', N'Systems not updated')
INSERT [dbo].[Risks] ([RiskID], [RiskName], [Category], [Description]) VALUES (N'R003', N'Phishing', N'Social Engineering', N'Users click malicious emails')
GO
INSERT [dbo].[Vulnerabilities] ([VulnerabilityID], [RiskID], [AssetID], [Vulnerability], [Likelihood], [Impact], [RiskScore], [RiskLevel]) VALUES (N'V001', N'R001', N'A004', N'Weak Password Policy', 4, 4, 16, N'Critical')
INSERT [dbo].[Vulnerabilities] ([VulnerabilityID], [RiskID], [AssetID], [Vulnerability], [Likelihood], [Impact], [RiskScore], [RiskLevel]) VALUES (N'V002', N'R002', N'A001', N'Missing Security Updates', 5, 5, 25, N'Critical')
INSERT [dbo].[Vulnerabilities] ([VulnerabilityID], [RiskID], [AssetID], [Vulnerability], [Likelihood], [Impact], [RiskScore], [RiskLevel]) VALUES (N'V003', N'R003', N'A004', N'No Security Awareness Training', 4, 3, 12, N'High')
GO
ALTER TABLE [dbo].[Vulnerabilities]  WITH CHECK ADD FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[Vulnerabilities]  WITH CHECK ADD FOREIGN KEY([RiskID])
REFERENCES [dbo].[Risks] ([RiskID])
GO
